.fab {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
}

.fab:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-reddit-square {
  background: #ff5700;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
