*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#header-container {
    background: black;
}


#first-paragraph {
    color: white;
    text-align: center;
    font-size: 50px;
    padding-bottom: 25px;
}


#link-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 290px;
    padding-right: 290px;
}

a {
    color: white;
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;
}


#Description {
    padding-top: 15px;
    font-size: 50px;
}

#input-container {
    padding-left: 300px;
}

#first-input {
    width: 800px;
    height: 40px;
    border-radius: 10px;
}

#yellow-link {
    background: #fdca37;
    font-size: 15px;
    display: block;
    width: 200px;
    height: 20px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}












